<section class="product-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'img-responsive'%>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>
  </article>
  <% if current_user %>
    <div class="new-review row">
        <%= form_for [@product, @review], url: product_reviews_path(@product.id) do |f| %>
          <div class="form-group col-sm-5">
            <h3><%= f.label :rating %>:</h3>
            <%= f.select :rating, [['5 stars: good stuff', 5],['4 stars: ok stuff', 4] , ['3 stars: meh', 3], ['2 stars: wouldnt buy it', 2], ['1 star: just ewwwwww', 1]] %><br />
          </div>
          <div class="form-group col-sm-7 description">
            <h3><%= f.label :description %>:</h3>
            <%= f.text_area :description, class: "form-control"%><br />
          </div>
    </div>
      <%= f.submit 'Write Review', class: 'btn btn-primary' %>
    <% end %>
  <% end %>

  <% @reviews = @reviews.sort_by {|obj| obj.created_at }.reverse %>
  <% @reviews.each do |details| %>
    <% @user_review = User.find(details.user_id) %>
    <article>
      <div class="row">
        <div class="col-sm-4 stars">
          <h3><%= details.rating %> Stars</h3>
        </div>
        <div class="col-sm-7">
          <dl class="dl-horizontal">
          <dt>User</dt>
          <dd><%= @user_review.first_name %> <%= @user_review.last_name %></dd>
          <dt>Review</dt>
          <dd><%= details.description %></dd>
          </dl>
        </div>
      <% if current_user && current_user.id === details.user_id %>
      <div class="col-sm-1">
        <%= link_to fa_icon('trash'),product_review_remove_review_path(@product.id, details.id), class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
      </div>
      <% end %>
    </article>
  <% end %>
</section>



